html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background: rgb(189, 195, 199);
    background: linear-gradient(90deg, rgb(197, 216, 229) 0%, rgb(28, 46, 66) 100%);
}

.joinInnerContainer {
    width: 20%;
}

.joinInput {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 15px 20px;
    width: 100%;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.button {
    font-weight: 700;
    color: #2979FF;
    text-transform: capitalize;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
    border: 3px solid #2979FF;
    width: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    outline: 2;
    color: white;
    background-color: #2979FF;
}

.button:active {
    transform: scale(1.07);
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {

    .joinInnerContainer {
        width: 90%;
    }
}