.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 6px 6px 0 0;
    height: 60px;
    width: 100%;
}

.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: #FFFFFF;
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}

.onlineIcon {
    margin-right: 5%;
    color: rgb(11, 255, 11);
}

.exitButton {
    color: #FFFFFF;
    font-size: 1.8rem;
    transition: all .2s ease-in-out;
}

.showUsers {
    font-size: 1rem;
    padding: 5px;
    margin-right: 5%;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.exitButton:hover,
.showUsers:hover {
    transform: scale(1.15);
}